<robot name="vehicle">

    <link name="base_link">
        <inertial>
            <mass value="1.0"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <gazebo>
        <plugin name="odom_plugin" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>50.0</updateRate>
            <bodyName>base_link</vehiclebody> 
            <topicName>odom</odometry> 
            <frameName>odom</world_frame> 
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
            <gaussianNoise>0.01</gaussianNoise>
        </plugin>
    </gazebo>
</robot>
